.side-nav {
	position: fixed;
	left: 0;
	width: 20%;
	height: 100%;
	background-color: $light;
	box-shadow: 1px 1px 2px rgba($dark, 0.75);
	z-index: 998;
	.closing-nav {
		display: none;
		background-color: $accent-color;
		span {
			align-items: center;
			justify-content: center;
			top: 0;
			padding: 10px;
			height: 100%;
			width: 60px;
			background-color: $accent-color-dark;
			font-size: 40px;
			color: $light;
		}
	}
	.mobile-menu {
		display: none;
		ul {
			padding: 0;
			list-style-type: none;
			li {
				transition: all .5s ease;
				a {
					display: block;
					padding: 20px;
					padding-right: 40px;
					font-size: 18px;
					font-weight: 800;
					color: $dark;
					&:hover {
						text-decoration: none;
					}
				}
				&:hover {
					background-color: $light - 20;
					a {
						color: $dark;
					}
				}
			}
		}
	}
}

.mobile-menu,
.main-menu {
	.current_page_item {
		background-color: $light - 20;
		a {
			color: $dark;
		}
	}
}

.main-menu {
	position: absolute;
	top: 0;
	right: 0;
	height: 100%;
	ul {
		left: 0;
		padding: 0;
		height: 100%;
		list-style-type: none;
		li {
			float: left;
			height: 100%;
			a {
				display: flex;
				align-items: center;
				height: 100%;
				padding: 0 20px;
				color: $dark;
				text-transform: uppercase;
				transition: all .5s ease;
				&:hover {
					background-color: $light - 20;
				}
			}
		}
	}
}

@media screen and (max-width: 520px) {
	.side-nav {
		top: 0 !important;
		width: 100%;
		left: -100%;
		.closing-nav {
			display: block;
		}
		.mobile-menu {
			display: block;
		}
	}

	.main-menu {
		display: none;
	}
}
