body {
    color: $dark;
}

a {
	color: $accent-color;
	text-decoration: none;
	&:hover {
		text-decoration: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 800;
}

.light-text {
    color: $light;
}
